.site-box {
    text-align: center;
    background-image: url(https://umbreonz.nekoweb.org/mybox.png);
    background-repeat: no-repeat;
    color: white;
    font-size: 12px;
}
.site-box > a > p {
    color: white;
    font-weight: bold;
}
.site-box > a > span {
    color: white;
}
.follow {
  border: 1px solid #191919;
  color: #191919;
  animation: rb 7s infinite;
}
@keyframes rb {
  0% { background-color: #E28383; }
  17% { background-color: #E2E283; }
  33% { background-color: #83E283; }
  50% { background-color: #83E2E2; }
  67% { background-color: #8383E2; }
  83% { background-color: #E283E2; }
  100% { background-color: #E28383; }
}